
<div class="container">
	<div class="columns is-centered">
		<div class="column is-4">
      <h1 class="center-line-text title">Sign up</h1>

      <div class="box">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        
        <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true, class: "input" %>
          </p>
        </div>

        <div class="field">
          <%= f.label :age %><br />
          <%= f.number_field :age, class: "input"%>
        </div>

        <div class="field">
          <%= f.label :username %><br />
          <p class="control has-icons-left">
            <%= f.text_field :username, class: "input" %>
            <span class="icon is-small is-left">
              <i class="fa fa-user"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <%= f.label :email %><br />

          <p class="control has-icons-left">
            <%= f.email_field :email, class: "input", autocomplete: "email", wrapper: false %>
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          

          <p class="control has-icons-left">
            <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fa fa-lock"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          
          <p class="control has-icons-left">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fa fa-lock"></i>
            </span>
          </p>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "button is-link" %>
        </div>
      <% end %>

      </div>
      <p class="center-line-text">
        <%= render "devise/shared/links" %>
      </p>
    </div>
  </div>
  </div>
</div>
