<div class="container sign-in">
	<div class="columns is-centered">
		<div class="column is-4">
      <h1 class="center-line-text title is-centered">Login</h2>

      <div class="box">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :login %><br />
          <%= f.text_field :login, autofocus: true, class: "input", placeholder: "username / email" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <label class="checkbox">
              <%= f.check_box :remember_me %> Remember me
            </label>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: "button is-link" %>
        </div>
      <% end %>
      </div>
      <p class="center-line-text">
        <%= render "devise/shared/links" %>
      </p>

    </div>
  </div>
</div>

