<div class="hero is-fullheight">
  <div class="columns is-centered">

    <div class="column is-one-third">

      <div class="box center-line-text">
        <div class="content">
          <%= render 'info', event: @event %>
        </div>

        <div class="content">
          <% if user_signed_in? && current_user.id == @event.organizer_id %> 
            <%= link_to 'Edit', edit_event_path(@event), class: "button is-small" %>
            <%= link_to 'Delete', @event, method: :delete, class: "button is-small",
              data: { confirm: 'Are you sure?' } %>
          <% end %> 
        </div>
      </div>
        
      <div class="box center-line-text">
        <%= render 'attendance', event: @event, user: @user %>
      </div>

      <% if user_signed_in? && current_user.id == @event.organizer_id%>
      <div class="box center-line-text">
        <%= render 'invite', event: @event, user: @user %>
      </div>
      
      <% else %>
        <div class="container center-line-text">
          <% if user_signed_in? && current_user.id != @event.organizer_id%>
            <%= form_with(model: @event, url: event_event_attendings_path(@event), method: "post") do |form| %>
              <%= hidden_field_tag(:user_id, current_user.id) %>
              <%= hidden_field_tag(:event_id, @event.id) %>
              <%= form.submit "Join Event!", class: "button is-small is-info"%>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>

